# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Project specific binaries
MD Reader.exe
md-reader-gui.exe
md-reader.exe

# Local compilers and distros (we installed these)
go_dist/
gcc_dist/
go_download.zip
gcc_download.zip

# Go dependencies
vendor/
go.sum

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
